<form action="/bookmark/new" method="post">
  <input type="text" name="bookmark_title" placeholder="Enter Title...">
  <input type="text" name="bookmark_url" placeholder="Enter URL...">
  <input type="submit" value="Submit">
</form>